.cart{
    .container{
        h3{
            color: #000;
             margin-bottom: 0.5em;
            font-size: 22px;
            line-height: 1.2;
            text-transform: uppercase;
        }
        .row{
            .col-9{
                .cart__heading{
                    .row{
                        .col-2{
                            font-size: 16px;
                            font-weight:bold;
                        }
                    }
                }
            }
            .col-3{
                .summary{
                    .summary__heading{
                        border: 1px solid green;
                        text-align: center;
                    }
                }
            }
        }
    }
}