.cart{
    .container{
        h3{
            color: #000;
             margin-bottom: 0.5em;
            font-size: 22px;
            line-height: 1.2;
            text-transform: uppercase;
        }
        .row{
            .col-9{
             
                .cart__heading{
                    .row{   
                     
                        .col-2{
                            font-size: 18px;
                            font-weight:bold;
                        }
                    }
                }
            }
            .col-3{
                .summary{
                 
                    .summary__heading{
                        text-align: center;
                        font-size:18px;
                        background-color: #505980;
                        color: white;
                        border:1px solid
                    }
                    .summary__details{
                        background-color : #d5d5d5;
                        .row{
                            .col-6{
                                color:black;
                                font-size:16px;
                            }
                        }
                        button{
                            background-color : white;
                            transition: all 0.5s;
                            color: #505980;
                            font-weight: bold;
                            &:hover{
                                background-color: orange;
                                color:white;
                            }
                        }
                    }
                }
            }
        }
        .empty__cart{
            text-align: center;
            margin-bottom: 90px;
        }
    }
}