.mt-50{
    margin-top:50px;
}

.detail__container{
    box-shadow: 0 1px 6px rgb(239,233,242);
     border: 1px solid rgb(239, 233, 242);   
    padding:10px 30px;
    margin-bottom: 20px;
    // border:1px solid red;
}

.product__description, .product__review{
    // box-shadow: 0 1px 6px rgb(239 233 242);
    // border: 1px solid rgb(239, 233, 242);   
    margin: 10px 0;
    border-radius: 5px;
    padding: 20px 20px;
}
// .details__p{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     text-transform: capitalize;
// }
// .details__p p{
//     font-weight: 600;
//     margin: 10px 0;
// }
// .details__p p span{
//     font-weight: normal;
// }
.details__freeship{
    display: flex;
    align-items: center;
    justify-content:start;
    background-color: rgb(214, 245, 214);
    color:rgb(0, 153, 0)

}
.details__freeship img{
    width: 10%;
}

.group-size form.item{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    width: 300px;
}
.abc{
    border: 1px solid green;
    display: flex;
}
.def{
    border: 1px solid blue;

}


.col-60{
    .details__name{
        color: #555;
        font-size: 22px;
        text-transform: uppercase;
        margin : 0 0 15px;
    }
    .details__price{
        margin: 0 0 30px;
        .details__price-actual{
            font-size: 26px;
            margin-bottom: 3%;
        }
        .details__price-discount{
            font-size: 26px;
            margin-bottom: 3%;
            color: orange;
            margin-left: 30px;
        }
        .sale-sign{
            text-decoration: line-through;
            color:#d5d5d5;
        }
    }
    .details__size{
        color: #555;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 2%;
        div{
            margin: 0 0 20px;
        }
        span{
            color: #fff;
            font-size: 16px;
            background: #555;
            padding: 5px 10px;
            margin-right: 15px;
            transition:all 0.3s;
            &:hover{
                background: orange;

                cursor: pointer;
            }
        }
    }
    .details__color, .details__sex, .details__type{
        margin : 20px 0;
        span{
            font-weight: bold;
            margin-right:  20px;
        }
    }
    .details__rating{
        display:flex;
        margin : 20px 0;
        margin-right: 20px;
        span{
            font-weight: bold;
        }
    }
    .details__incDec{
        margin: 40px 0;
        .btn-default{
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        padding: 10px 20px;
        width:30%;
        margin-right: 10px;
        border-bottom: 4px solid #1D1C1C;
        color: #FFF;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
       
        }
        .btnAddCart{
            background: #999;
            color: white;
            &:hover{
                background-color: orange;
                color: white;
            }
        }
        .btnBuy{
            background: #555;
            &:hover{
                background-color: orange;

            }
        }
    }
}

.product__description, .product__review{
    color: #999;
    font-size: 18px;
    line-height: 45px;
}