.social-link{
    display: flex;
    border:1px solid red;
    margin : 20px 0;
    .social-link__left{
        p{
            color: #999;
            font-size: 18px;
             margin-top: 30px;
        }
    }
    .social-link__right{
        display: flex;
        .social-link__item{
            position: relative;
            margin-right: 20px;
            a{
                span{
                    height: 75px;
                    width: 75px;
                    display: block;
                }
            }
            .radius{
                position: absolute;
                top: 5px;
                left: 51px;
            }
            .border-cross{
                height: 3px;
                width: 110px;
                display: block;
                background: url(../../assets/images/border.png) no-repeat 0px 0px;
                position: absolute;
                left: 81%;
                top: 45%;
            }
            .subcribed-number{
                color: #000;
                margin-top: -20px;
                font-size: 18px;
                text-align: center;
            }
        }
    }
}
.facebook{
    background: url(../../assets//images/img-sprite.png)no-repeat -34px -157px;
    &:hover{
        background: url(../../assets//images/img-sprite.png) no-repeat -34px -230px;
    }
}