.footer{
    width: 100%;
    .footer__top{
        padding: 5px 0;
        background: #08080b;
        .container{
            font-size: 16px;
            display:flex;
            color:white;
            justify-content: space-between;
            .top__item{
                width:30%;
                border:1px solid red;
                margin-right: 20px;
            }
        }
    }
    .footer__middle{}
    .footer__bottom{}
}