.comment{
    box-shadow: 0 1px 6px rgb(239, 233, 242);
    border: 1px solid rgb(239, 233, 242);
    .comment__user{
        .user__profile{
            display: flex;
            align-items: center;
            .user__img{
                font-size: 30px;
            }
            .user__name{
                font-size:18px;
                margin-left: 20px;
            }
        }
        .user__vote{

        }
        .user__comment{
            .user__text{

            }
            .user__post{}
        }
    }
    .comment__list{

    }
}