.comment{
    box-shadow: 0 1px 6px rgb(239, 233, 242);
    border: 1px solid rgb(239, 233, 242);
    padding-left: 40px;
    background-color:#909090;
    .comment__title{
        color: white;
        font-size: 30px;
    }
    .comment__container{
        .comment__user{
            .user__profile{
                display: flex;
                align-items: center;
    
                .user__img{
                    font-size: 30px;
                    padding : 10px 10px 10px 0;
                    display: flex;
                    align-items: center;
                }
                .user__name{
                    font-size:18px;
                    margin-left: 10px;
                }
            }
            .user__vote{
    
            }
            .user__comment{
                .user__text{
    
                }
                .user__post{}
            }
        }
    }
    
    .comment__list{

    }
}