.ProductList__title{
    height:50px;
    width:25%;
    border: 1px solid;
    margin-bottom: 50px;
    &::after{
        content:"";
        width: 0;
        height: 0;
        border-bottom: 100px solid red;
        border-right: 100px solid transparent;
    }
}