.ProductList__title{
    height:55px;
    width:25%;
    border: 1px solid;
    margin-bottom: 50px;
    position: relative;
    &::after{
        position: absolute;
        top: 0;
        left: 100%;
        content:"";
        width: 0;
        height: 0;
        border-bottom: 100px solid red;
        border-right: 100px solid transparent;
    }
}