.ProductList__title{
    height:60px;
    width:25%;
    background-color:#d5d5d5;
    margin-bottom: 50px;
    position: relative;
    display:flex;
    align-items: center;
    &::after{
        position: absolute;
        top: 0;
        left: 100%;
        content:"";
        width: 0;
        height: 0;
        border-bottom: 60px solid #d5d5d5;
        border-right: 60px solid transparent;
    }
}