.checkout__thankyou{
    font-size: 40px;
    line-height:63px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.checkout__page{
    text-align: center;
    border:1px solid red;
}