.checkout__thankyou{
    font-size: 30px;
    line-height:63px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}
.checkout__page{
    text-align: center;
    margin-bottom: 100px;
    span{
        line-height:40px;
        font-size: 20px;
        font-style: italic;
    }
}