.ant-drawer-body{
    display: flex;
    flex-direction: column;
}
.checkout__container{
    background-color :rgb(144,144,144);
    border-radius: 7px;
    padding :15px;
}
.checkout__title{
    text-transform: uppercase;
    font-size: 30px;
    text-align:center;
    color:white;
    margin-bottom: 30px;
}

.checkout__listItem{
    padding : 15px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color:rgb(144,144,144);
    background-color:white;
    margin-bottom: 20px;
    .checkout__listTitle{
        font-weight: bold;
        display: flex;
        justify-content:space-between;
        text-transform: uppercase;
        span{
            margin: 0px 20px 5px;
            max-width:200px;
            min-width: 30px;
            display: flex;
            align-items: center;
        }
    }
    .checkout__item{
        display: flex;
        justify-content:space-between;
        border-top: 1px solid rgb(144,144,144);;
        span{
            margin: 10px 20px 10px;
            max-width:200px;
            min-width: 30px;
            display: flex;
            align-items: center;
            justify-content:center;
        }
    }
    .checkout__totalBill{
        display: flex;
        justify-content:space-between;
        font-weight: bold;
        border-top: 1px solid rgb(144,144,144);;

        span{
            margin: 10px 20px 10px;
            max-width:200px;
            min-width: 30px;
            display: flex;
            align-items: center;
            justify-content:center;
        }
    }
}
.checkout__subtitle{
    color: white;
    font-size: 22px;
}
.checkout__form{
    .checkout__form-info{
        padding: 10px;
        background-color:white;
        border-radius: 5px;
        .form__group{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid grey;
            margin:10px 0 15px;
            padding :5px 0;
            label{
                min-width:150px;
            }
            input{
                width: 100%;
                border:none;
                outline: none;
            }
        }
    }

    .checkout__btn{
        width: 100%;
        padding:10px 20px;
        outline: none;
        border: none;
        font-size: 18px;
        font-weight: bold;
        text-transform:capitalize;
        transition: all 0.4s;
        border-radius: 5px;
        &:hover{
            background-color:orange;
            color:white;
        }
    }
}