.contact__header{
    .contact__title{
        font-size:60px;
        text-transform: uppercase;
        font-weight: bold;

    }
    p{
        font-size: 18px;
    }
}
.contact__body{
    .contact__item{
        border-top: 1px dotted grey;
        padding : 10px auto 30px;
        .item__title{
            font-size: 22px;
            text-transform: uppercase;
            font-weight:700;
        }
        p{
            font-size: 18px;

        }
    }
}
.contact__link{
    .link__group{
        border-top: 1px dotted grey;
        display: flex;
        .link__img{

        }
        .link__content{
            .link__title{
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}