.contact__header{
    .contact__title{
        font-size:60px;
        text-transform: uppercase;
    }
    p{
        font-size: 18px;
    }
}
.contact__body{
    .contact__item{
        .item__title{
            font-size: 22px;
        }
        p{

        }
    }
}